[submodule "godot-cpp"]
	path = extension/godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "extension/libsm64"]
	path = extension/libsm64
	url = https://github.com/Brawmario/libsm64